apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: configmaps
  annotations:
    argocd.argoproj.io/sync-wave: "300"
spec:
  destination:
    namespace: cp4i
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/jorgenpersson59/jp-argo
    path: configmaps/resources
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
